.header {
	margin: 0;
	padding: 0;
	top: 0;
}

nav.black {
	background:#000;

}

.title {
	text-align: left;
	margin: 100;
	top: 30px;
  left: 60px;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
  font-size: 40px;
	color: black;
	text-decoration: none;
}

.workHeader {
/*background: rgba(0, 10, 10, 0.5);*/
		  display: block;
		  color: black;
		  text-align: center;
		  text-decoration: none;
		  font-size: 25px;
   		  position: absolute;
   		  left: 800px;
   		  top: 48px;
   		  font-family: 'Lora', serif;
}

/* nav.work {
	color: white;
	background:#000;
} */

.donateHeader {
/*background: rgba(0, 10, 10, 0.5);*/
		  display: block;
		  color: black;
		  text-align: center;
		  text-decoration: none;
		  font-size: 25px;
   		  position: absolute;
   		  left: 960px;
   		  top: 48px;
   		  font-family: 'Lora', serif;
}

/* nav.donate {
	color: white;
	background:#000;

} */

.aboutHeader {
/*background: rgba(0, 10, 10, 0.5);*/
		  display: block;
		  color: black;
		  text-align: center;
		  text-decoration: none;
		  font-size: 25px;
   		  position: absolute;
   		  left: 1090px;
   		  top: 48px;
   		  font-family: 'Lora', serif;
}

/* nav.about {
	color: white;
	background:#000;

} */

.contactHeader {
/*background: rgba(0, 10, 10, 0.5);*/
		  display: block;
		  color: black;
		  text-align: center;
		  text-decoration: none;
		  font-size: 25px;
   		  position: absolute;
   		  left: 1200px;
   		  top: 48px;
   		  font-family: 'Lora', serif;
}

/* nav.contact {
	color: white;
	background:#000;

} */

ul {
	  list-style-type: none;
}

li a:hover {
			/* background-color: rgba(100, 10, 70, 0.5); */
/*			background-color: rgba(0, 10, 10, 0.5);
			color: white;*/
			    text-decoration: underline;

			/* background-color: #E86FA8; */
		}

.container {
	position: absolute;
	top: 63px;
	left: 0;
	width: 1500px;
	height: 100%;
/*	background-color: #1997FF;
/*	background-color:#C8E4FE;
*/	/*background-color: #EDE2CE;*/
	/*background-color: #DED3C1;*/
	/*background-color: #C7BDAC;*/
	/*background-color: #EDDEC2;*/
	/*background-color: #FFEFD1;*/

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;

}


/* ________________________Home Page below________________________________ */

.q1home {
	text-align: left;
	position: absolute;
	top: 35%;
	left:31%;
	font-family: 'Lora', serif;
	font-size: 20px;
	font-style:italic;
	z-index: 0;


}

.q1homePerson {
	text-align: left;
	position: absolute;
	top: 43%;
	left: 49%;
	font-family: 'Lora', serif;
		font-size: 20px;
	font-style:italic;
}

.quoteblock {
	position: absolute;
	top: 285px;
	left: 710px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-color: #DB1200;
	opacity:0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.quoteblock1 {
	position: absolute;
	top: 200px;
	left: 300px;
	width: 700px;
	height: 300px;
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.quoteblock2 {
	position: absolute;
	top: 150px;
	left: 280px;
	width: 700px;
	height: 300px;
	background-color: #1D79F2;
	opacity:0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.quoteblock3 {
	width: 0;
  height: 0;
	 border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 400px solid #FFD005;
      /* border-bottom: 400px solid yellow;
      border-left: 400px solid transparent; */
	opacity: 0.3;
	top: 170px;
	left: 400px;
	position: absolute;
	z-index: -1;
}


/* ________________________Contact Page below________________________________ */

.contactTitle {
	text-align: left;
	margin: 100;
	top: 20%;
  	left: 45%;
  	position: absolute;
  	font-family: 'Roboto Condensed', sans-serif;
  	font-size: 20px;
	color: black;

}

.contact {
	position: absolute;
	left: -5%;
}

.intro {
	position: relative;
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 20px;
	left: -43%;
	top: 80px;
}

.email {
	text-decoration: underline;
	color: black;
}

.email:hover {
			/* background-color: rgba(100, 10, 70, 0.5); */
/*			background-color: rgba(0, 10, 10, 0.5);
			color: white;*/
			    text-decoration: none;

			/* background-color: #E86FA8; */
		}

.website {
	text-decoration: underline;
	color: black;
}

.website:hover {
			    text-decoration: none;
		}

.leftblock {
	position: absolute;
	top: 200px;
	left: 330px;
	width: 400px;
	height: 400px;
	/* background-color: #FFEFD1; */
	background-color: #FFD005;
	opacity:0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -2;
}



.middleblock {
	position: absolute;
	top: 100px;
	left: 520px;
	width: 400px;
	height: 400px;
	background-color: #1D79F2;
	opacity:0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.rightblock {
	position: absolute;
	top: 285px;
	left: 710px;
	width: 400px;
	height: 400px;
	background-color: #DB1200;
	opacity:0.3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

/* ________________________Donate Page below________________________________ */

.wheelgrey {
	position: absolute;
	height:auto;
	width: 400px;
	top: 200px;
	left: 50px;
	transition: transform 0.5s;
}

.wheelgrey:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}

.hawaiigrey {
	position: absolute;
	width: 400px;
  height: 535px;
  object-fit: cover;
	top: 200px;
	left: 525px;
	transition: transform 0.5s;
}

.hawaiigrey:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}

.innoutgrey {
	position: absolute;
	width: 400px;
  height: 535px;
  object-fit: cover;
	top: 200px;
	right: 50px;
	transition: transform 0.5s;
}

.innoutgrey:hover {
  -ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
